---
export const prerender = true;
import Base from "#layouts/Base.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import Time from "#components/Time.astro";
import * as newsPage from '#content/news.md';
import { getCollection } from 'astro:content';

const { title, description, headline, content } = newsPage.frontmatter;

const posts = await getCollection('posts');
---

<Base>
  <Fragment slot="head">
    <title>{title}</title>
    <meta name="description" content={description} />
  </Fragment>

  <main id="main" tabindex="-1" class="container" data-sb-object-id="src/content/news.md">
    <section>
      <div class="pt-header pb-20 max-w-2xl">
        <h1 class="font-display font-bold text-5xl" data-sb-field-path="headline">{headline}</h1>
        <p class="mt-6 text-neutral-11" data-sb-field-path="content">{content}</p>
      </div>

      <div
        class="border-s border-neutral-6 ps-6"
      >
        {
          posts.map(({ id, data: {title, description, publishedDate} }) => (
            <article class="grid grid-cols-4">
              <div class="col-span-1">
                <Time data-controller="datetime" class="text-neutral-11" datetime={publishedDate.toISOString()} />
              </div>
              <div class="group relative col-span-3">
                <div class="absolute -inset-6 scale-95 group-hover:scale-100 group-hover:bg-neutral-3 -z-10 rounded transition-all"></div>
                <h2>
                  <a class="font-semibold font-display text-lg" href={`/news/${id}`} >
                    {title}
                    <span class="absolute -inset-6 rounded" aria-hidden="true" />
                  </a>
                </h2>
                <p class="mt-2 text-neutral-11 line-clamp-3">{description}</p>
                <p class="flex items-center gap-1 mt-4 text-primary-11 group-hover:underline" aria-hidden="true">
                  Read article <Icon name="heroicons:chevron-right" aria-hidden="true" />
                </p>
              </div>
            </article>
          ))
        }
      </div>
    </section>
  </main>
</Base>

<!-- <div class="flex gap-4 items-center">
  <Image
    class="h-[48px] rounded-full aspect-square object-cover"
    src={urlForImage(author.image).url()}
    alt="Author"
    width="48"
    height="48"
  />
  <span>
    {author.firstName} {author.lastName}
  </span>
</div> -->
