---
import Time from "#components/Time.astro";
import Base from "#layouts/Base.astro";
import urlForImage from "#utils/urlForImage";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { sanityClient } from "sanity:client";

// const posts = await sanityClient.fetch(
//   `*[_type == "post" && defined(slug)] | order(_createdAt desc){title,description,image,slug,author->}`,
// );
const posts: any = [];
---

<Base>
  <main id="main" class="container typography">
    <section>
      <div class="pt-header pb-[4em]">
        <h1>From the Blog</h1>
        <p>The latest news from Adelaide Hills Fresh.</p>
        <div
          class="mt-[4em] grid grid-cols-1 gap-x-16 gap-y-4 text-left lg:grid-cols-3"
        >
          {
            posts.map(({ image, title, description, slug, author }) => (
              <article class="relative flex lg:block">
                <div class="mb-4 shrink-0">
                  <Image
                    class="aspect-square h-[128px] w-auto object-cover lg:h-auto lg:w-full"
                    src={urlForImage(image).url()}
                    alt="Author"
                    width="500"
                    height="256"
                  />
                </div>
                <div class="relative">
                  <Time class="text-[.875em]" />
                  <h3>
                    <a href={`/blog/${slug.current}`}>
                      {title}
                      <span class="expand-to-relative" aria-hidden="true" />
                    </a>
                  </h3>
                  <p class="mt-2">{description}</p>
                </div>
              </article>
            ))
          }
        </div>
      </div>
    </section>
  </main>
</Base>

<!-- <div class="flex gap-4 items-center">
  <Image
    class="h-[48px] rounded-full aspect-square object-cover"
    src={urlForImage(author.image).url()}
    alt="Author"
    width="48"
    height="48"
  />
  <span>
    {author.firstName} {author.lastName}
  </span>
</div> -->
