---
import Base from "#layouts/Base.astro";
import { sanityClient } from "sanity:client";
import { PortableText } from "astro-portabletext";
import urlForImage from "#utils/urlForImage";
import { Image } from "astro:assets";

const { title, description, content }: any = await sanityClient.getDocument(
  "72652ee3-cca1-437f-bdda-f1887f3d43f3",
);

console.log(content)

// const team = await Promise.all(
//   content[9].list.map(async ({ _ref }) => await sanityClient.getDocument(_ref)),
// );
---

<Base>
  <Fragment slot="head">
    <title>{title}</title>
    <meta name="description" content={description} />
  </Fragment>

  <main id="main" class="container prose">
    <section class="pb-16 sm:flex">
      <div class="pt-16 sm:order-last">
        <h1>{content[0].heading}</h1>
        <PortableText value={content[1].content} />
      </div>
      <div>
      </div>
    </section>

    <!-- <div class="gap-8 py-[4em] sm:flex">
      <div class="grow">
        <h2>{content[3].heading}</h2>
        <PortableText value={content[4].content} />
      </div>
      <dl>
        {
          content[5].list.map(({ title, description }) => (
            <Fragment>
              <dt class="text-4xl">{title}</dt>
              <dd class="mb-4">{description}</dd>
            </Fragment>
          ))
        }
      </dl>
    </div> -->


    <!-- <section class="py-[4em] md:flex md:gap-16">
      <div class="shrink-0">
        <h2>{content[7].heading}</h2>
        <PortableText value={content[8].content} />
      </div>
      <ul class="m-0 ml-auto grow gap-8 sm:grid sm:grid-cols-2">
        {
          team.map(({ firstName, lastName, image, role, description }) => (
            <li>
              <Image
                class="mb-4 aspect-square rounded object-cover object-center"
                src={urlForImage(image.src).url()}
                alt={image.alt}
                inferSize
              />
              <div class="hgroup">
                <h3>
                  {firstName} {lastName}
                </h3>
                <p>{role}</p>
              </div>
              <p>{description}</p>
            </li>
          ))
        }
      </ul> -->
    </section>
  </main>
</Base>
