---
import { sanityClient } from "sanity:client";
import Base from "#layouts/Base.astro";
import { PortableText } from "astro-portabletext";
import SanityImage from "#components/SanityImage.astro";

const { title, description, content }: any = await sanityClient.getDocument(
  `17bde09f-4e53-4d5b-8220-09674ebaa146`,
);

const jobs = await sanityClient.fetch(
  `*[_type == "job"] | order(_createdAt desc)`,
);
---

<Base>
  <Fragment slot="head">
    <title>{title}</title>
    <meta name="description" content={description} />
  </Fragment>

  <main id="main" class="container typography">
    <section class="gap-16 sm:flex">
      <div class="pt-header grow pb-[4em]">
        <h1>{content[0].heading}</h1>
        <PortableText value={content[1].content} />
        {
          jobs.length > 0 ? (
            <ul class="not-prose mt-8 divide-y" role="list">
              {jobs.map(({ title, description }) => (
                <li class="flex items-center gap-4 py-4">
                  <div class="grow">
                    <h2>{title}</h2>
                    <p>{description}</p>
                  </div>
                  <div>
                    <button class="button outlined">Apply Now</button>
                  </div>
                </li>
              ))}
            </ul>
          ) : (
            <p>Sorry, we aren't hiring at the moment.</p>
          )
        }
      </div>
      <di class="hidden sm:block">
        <SanityImage
          class="aspect-square h-[400px] w-auto object-cover object-center"
          src={content[2].src}
          alt={content[2].alt}
        />
      </di>
    </section>
  </main>
</Base>
