---
import Base from "#layouts/Base.astro";
import { sanityClient } from "sanity:client";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import { PortableText } from "astro-portabletext";

// @ts-ignore
const { title, description, content } = await sanityClient.getDocument(
  "830f9c5d-2ec2-4378-9590-4c01a6fecc81"
);

console.log(content);
---

<Base>
  <Fragment slot="head">
    <script src='https://www.youtube.com/iframe_api' async is:inline></script>
    <title>{title}</title>
    <meta name="description" content={description}>
  </Fragment>

  <main id="main" class="container typography" data-controller="disclosure youtube" data-youtube-id-value={content[2].id} data-youtube-opts-value='{ "modestBranding": true, "related": false, "width": 1280 }'>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-16 pt-header">
      <div>
        <h1>{content[0].heading}</h1>
        <PortableText value={content[1].content} />
      </div>
      <div>
        <div class="relative stack-layout">
          <Image class="rounded border" src={`https://img.youtube.com/vi/${content[2].id}/maxresdefault.jpg`} inferSize alt="Adelaide Hills Fresh Introductory Video Thumbnail" />
          <button data-disclosure-target="button" class="button icon primary solid z-1 stack-center" data-action="youtube#play">
            <Icon name="heroicons:play-solid" aria-hidden="true" />
            Play Video
            <span class="expand-to-relative" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </div>

    <div data-controller="focus" data-disclosure-target="panel" class="bg-transparent z-20 fixed inset-0 invisible hidden data-[expanded]:visible data-[expanded]:block data-[expanded]:bg-neutral-background/25 data-[expanded]:backdrop-blur transition-all" data-action="keydown.esc@window->disclosure#close keydown.esc@window->youtube#stop keydown.tab->focus#next">
      <div class="flex justify-end">
        <button class="button icon" data-action="disclosure#close youtube#stop">
          <Icon name="heroicons:x-mark" aria-hidden="true" />
          <span class="sr-only">
            Close Video
          </span>
        </button>
      </div>
      <div class="p-8 mx-auto max-w-full h-auto aspect-video" data-youtube-target="video"></div>
    </div>
  </main>
</Base>

<script>
  import Youtube from "#controllers/youtube";
  document.addEventListener("stimulus:loaded", () => {
    window.Stimulus.register("youtube", Youtube);
  });
</script>