---
import Base from "#layouts/Base.astro";
import { PortableText } from "astro-portabletext";
import "leaflet/dist/leaflet.css";
import { sanityClient } from "sanity:client";
import { Icon } from "astro-icon/components";

// @ts-ignore
const { content } = await sanityClient.getDocument(
  "874d04f8-ccac-4ad7-b2c1-0acbb6dc2cc6",
);

const orchards = await Promise.all(
  content[2].list.map(async ({ _ref }) => await sanityClient.getDocument(_ref)),
);
---

<Base>
  <main id="main" class="container typography">
    <section class="pt-header pb-8">
      <h1>{content[0].heading}</h1>
      <PortableText value={content[1].content} />
    </section>

    <h2>Interactive Map</h2>
    <p>
      Click/tap on an <span class="sr-only">apple</span><Icon
        class="inline"
        name="noto:red-apple"
        aria-hidden="true"
      /> to read more about that orchard.
    </p>

    <section id="tabs" class="flex" data-controller="tabs">
      <div class="w-fit shrink-0 overflow-y-scroll border-r py-8 pr-8">
        {
          orchards.map(({ name, content }, i) => (
            <div
              data-tabs-target="panel"
              data-tabs-selected={i == 0 ? "true" : null}
              class="hidden data-[tabs-selected]:block"
            >
              <h3>{name}</h3>
              <PortableText value={content} />
            </div>
          ))
        }
      </div>
      <div
        class="min-h-[500px] grow"
        id="map"
        data-controller="map"
        data-map-latitude-value={orchards[0].location.latitude}
        data-map-longitude-value={orchards[0].location.longitude}
        data-map-zoom-value="13"
        class="aspect-video h-[500px]"
      >
        {
          orchards.map(({ name, location: { latitude, longitude } }) => (
            <template
              data-map-target="marker"
              data-latitude={latitude}
              data-longitude={longitude}
            >
              {/* <span class="sr-only">{title}</span> */}
              <span class="text-neutral-solid absolute -translate-x-1/2 translate-y-6 text-center font-bold leading-tight group-aria-selected:underline">
                {name}
              </span>
              <Icon
                class="absolute -translate-x-1/2 -translate-y-1/2 text-[3rem]"
                name="noto:red-apple"
                aria-hidden="true"
              />
            </template>
          ))
        }
      </div>
    </section>
  </main>

  <style is:global>
    .leaflet-container {
      font-size: inherit;
      font-family: inherit;
    }
  </style>
</Base>
